<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Online Registration</h4>
                <p>
                    SOUTHERN PHILIPPINE TECHNICAL COLLEGE (SPTC) OF KORONADAL, INC.
                    ONLINE ENROLLMENT AND SURVEY ON PREFERRED ALTERNATIVE DELIVERY MODE (Learning Modalities) SCHOOL YEAR 2020-2021.
                </p>
                <hr>
                <p class="mb-0">
                    In the midst of the Covid 19 pandemic, the approach to education shall be anchored on the premise that education must continue and therefore it is everybody’s responsibility to ensure that flexible learning is delivered whether face to face or virtual approach with or without physically going to school.
                    We have good news to our new and old students. You may now start enrolling through our Online System.  It’s so easy to follow.
                </p>
                <hr>
                <p>
                    For inquiries regarding this Online Enrollment, please feel free to contact Prof. Eugene G. Pamplona at Tel. No. 552-6662/Mobile Phones: 09275345327/09104113122
                </p>
            </div>

            <div class="col-md-12 py-5 border">
                <h4 class="pb-4">Please fill with your details</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Full Name" name="Full Name" placeholder="Full Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">

                            <select id="inputState" class="form-control">
                                <option selected>Choose ...</option>
                                <option> New Buyer</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-row">
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
