<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Online Registration</h4>
                <p>
                    SOUTHERN PHILIPPINE TECHNICAL COLLEGE (SPTC) OF KORONADAL, INC.
                    ONLINE ENROLLMENT AND SURVEY ON PREFERRED ALTERNATIVE DELIVERY MODE (Learning Modalities) SCHOOL YEAR 2020-2021.
                </p>
                <hr>
                <p class="mb-0">
                    In the midst of the Covid 19 pandemic, the approach to education shall be anchored on the premise that education must continue and therefore it is everybody’s responsibility to ensure that flexible learning is delivered whether face to face or virtual approach with or without physically going to school.
                    We have good news to our new and old students. You may now start enrolling through our Online System.  It’s so easy to follow.
                </p>
                <hr>
                <p>
                    For inquiries regarding this Online Enrollment, please feel free to contact Prof. Eugene G. Pamplona at Tel. No. 552-6662/Mobile Phones: 09275345327/09104113122
                </p>
            </div>

            <div class="col-md-12 py-3 border">
                <h4 class="pb-2">Kindly fill-out the online registration form</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input id="FirstName" name="FirstName" placeholder="First Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <input id="LastName" name="LastName" placeholder="Last Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <input id="MiddleName" name="MiddleName" placeholder="Middle Name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input id="Age" name="Age" placeholder="Age" class="form-control" type="number">
                        </div>
                        <div class="form-group col-md-2">
                            <select id="gender" class="form-control">
                                <option selected>Gender ...</option>
                                <option> Male</option>
                                <option> Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <input id="DeteOfBirth" name="DeteOfBirth" placeholder="Date of Birth" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <input id="MobileNo" name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input id="Address" name="Address" placeholder="Address" class="form-control" required="required" type="text">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="MotherMaidenName" name="MotherMaidenName" placeholder="Mother's Maiden Name (Last Name, First Name, Middle Name)" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="MotherAddress" name="Address" placeholder="Address" class="form-control" required="required" type="text">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="FatherName" name="FatherName" placeholder="Father's Name (Last Name, First Name, Middle Name)" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="FatherAddress" name="Address" placeholder="Address" class="form-control" required="required" type="text">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="GuardianName" name="GuardianName" placeholder="Guardian's Name (Last Name, First Name, Middle Name)" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="GuardianAddress" name="Address" placeholder="Address" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="RelationshipWithGuardian" name="RelationshipWithGuardian" placeholder="Relationship with Guardian" class="form-control" required="required" type="text">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select id="statusOfEnrollment" class="form-control">
                                <option selected>Choose</option>
                                <option> Regular Student</option>
                                <option> Irregular Student</option> 
                            </select>
                        </div>
                        <div class="form-group col-md-6"> 
                            <select id="nameOfCourse" class="form-control">
                                <option selected>Choose ...</option>
                                <option> Senior High School</option>
                                <option> Auction</option>
                                <option> Complaint</option>
                                <option> Feedback</option>
                            </select>
                        </div> 
                    </div>
                     

                    <div class="form-row">
                        <button type="button" class="btn btn-primary pull-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
